<div>
  <h2></h2>
  <button (click)="createPerson()">Add New Person</button>
  <div style="float: right; margin-left: 20px;">
    <label for="sortCriteria">Sort by:</label>
    <select id="sortCriteria" [(ngModel)]="sortCriteria" (change)="onSortCriteriaChange()">
      <option value="name">Name</option>
      <option value="age">Age</option>
      <option value="gender">Gender</option>
    </select>
  </div>
  <br />
  <ul>
    <li class="header">
      <app-card>
        <div class="card-content">
          <div class="person-info">
            <div class="person-column">Name</div>
            <div class="person-column">Gender</div>
            <div class="person-column">Age</div>
            <div class="person-column">Skills</div>
            <div class="person-column">Actions</div>
          </div>
        </div>
      </app-card>
    </li>
    <li *ngFor="let person of persons" appHoverHighlight highlightColor="lightblue" (click)="openPersonDetail(person.id)">
        <app-card>
          <div class="card-content">
            <div class="person-info">
              <div class="person-column">{{ person.name }}</div>
              <div class="person-column">{{ person.gender | gender }}</div>
              <div class="person-column">{{ person.age }}</div>
              <div class="person-column">
                <span *ngFor="let skill of person.skills" [ngStyle]="{'background-color': 'green', 'color': 'white'}">
                  {{ skill.name }}
                <br />
                </span>
              </div>
              <div class="person-column">
                <button (click)="editPerson(person.id); $event.stopPropagation()">Edit</button>
                <button (click)="deletePerson(person.id); $event.stopPropagation()">Delete</button>
              </div>
            </div>
          </div>
        </app-card>
      </li>
    </ul>
    <!-- <button (click)="openModal()">Open Modal</button>
    <app-modal>
      <h3>Modal Content</h3>
      <p>This is the content of the modal.</p>
      <button (click)="closeModal()">Close Modal</button>
    </app-modal>
    <br />
    <app-person-detail [personId]="selectedPersonId"></app-person-detail> -->
</div>