<form (ngSubmit)="onSubmit()" #personForm="ngForm">
    <br />
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="person.name" name="name" required>
    </div>
    <div>
      <label for="gender">Gender:</label>
      <select id="gender" [(ngModel)]="person.gender" name="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" [(ngModel)]="person.age" name="age" required>
    </div>
    <br />
    <h3>Skills</h3>
    <ul style="padding-left: 0">
      <li *ngFor="let skill of person.skills" style="display: flex; justify-content: space-between; width: 300px;">
        <span style="flex: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ skill.name }}</span>
        <button type="button" (click)="deleteSkill(person.id, skill.name)" >
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
    <input [(ngModel)]="newSkill" placeholder="New skill" name="newSkill"/>
    <button type="button" (click)="addSkill(person.id)">Add Skill</button>
    <br />
    <br />
    <br />
    <button type="submit">Save</button>
  </form>